<! DOCTYPE html>
<html>
  <head>
    <title>DOODLER APP | Help</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
    Get help on Ruby on Rails Tutorial at the
    <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
    </p>
  </body>
</html>
