        <!-- START DIV PAGE-OUTER -->
        <div id="page-outer" >
          <div id="front-container" class="js-front-container">
            <!-- START DIV LEFTSIDE -->  
            <div class="leftside">
              <h1>Doodler</h1>
              <h2>Follow your interests</h2>
              <p>Instant updates from your iFriends, industry experts, favorite celebrities, and what&#8217;s happening around the world.</p>
            </div>
            <!-- END DIV LEFTSIDE -->
            
            <!-- START DIV RIGHTSIDE -->
            <div class="rightside">
              <div class="front-signup js-front-signup">
                <h3>New to doodler? <em>Join today!</em></h3>
                <%= form_tag('https://twitter.com/signup', :class => "signup signup-btn", :multipart => false, :method => :post) do -%>
                  <%= submit_tag 'context', :type => "hidden", :name => "context" %>
                  <%= submit_tag 'Sign up', :class => "promotional submit button" %>
                <% end -%>
              </div>
            </div>
            <!-- END DIV RIGHTSIDE -->

            <!-- START DIV BOTTOMPART -->
            <div class="bottompart">
              <div class="footer inline-list">
                <ul>
                  <li><a href="about.html">About</a><span class="dot divider"> &middot;</span></li>
                  <li><a href="help.html">Help</a><span class="dot divider"> &middot;</span></li>
                  <li><a href="contact.html">Contact</a><span class="dot divider"> &middot;</span></li>
                  <li><span class="copyright">&copy; 2012 doodler</span></li>
                </ul>
              </div>
            </div>
            <!-- END DIV BOTTOMPART -->
          </div>
        </div>
        <!-- END DIV PAGE-OUTER -->
