            <!-- START DIV BOTTOMPART -->
            <div class="bottompart">
              <div class="footer inline-list">
                <ul>
                  <li><%= link_to "About", about_path %><span class="dot divider"> &middot;</span></li>
                  <li><%= link_to "Help", help_path %><span class="dot divider"> &middot;</span></li>
                  <li><%= link_to "Contact", contact_path %><span class="dot divider"> &middot;</span></li>
                  <li><span class="copyright">&copy; 2012 doodler</span></li>
                </ul>
              </div>
            </div>
            <!-- END DIV BOTTOMPART -->
