            <!-- START DIV LEFTSIDE -->  
            <div class="leftside">
              <h1>Doodler</h1>
              <h2>Follow your interests</h2>
              <p>Instant updates from your iFriends, industry experts, favorite celebrities, and what&#8217;s happening around the world.</p>
            </div>
            <!-- END DIV LEFTSIDE -->
