<!DOCTYPE html>
<html>
  <head>
    <title>DOODLER APP | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body class="front-page logged-out">
    <!-- START DIV DOC -->
    <div id="doc">
      <%= yield %>
      </div>
      <!-- END DIV DOC -->
  </body>
</html>
